/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
} */

* {
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;

  display: grid;
  place-content: center;
}

/* ********** TURN DISPLAY ***********/

.turn-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.current-player-mark {
  aspect-ratio: 1 / 1;
  width: 20px;

  background-size: 100%;
}

main[data-current="x"] .current-player-mark {
  background-image: url("./assets/icon-x.svg");
}

main[data-current="o"] .current-player-mark {
  background-image: url("./assets/icon-o.svg");
}

/* ********** GAMEBOARD ********** */

.gameboard-elem {
  aspect-ratio: 1 / 1;
  width: 300px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 8px;

  padding: 8px;
}

.gameboard-cell {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.gameboard-cell[data-mark=" "] {
  cursor: pointer;
}

.gameboard-cell[data-mark="x"] {
  background-image: url("./assets/icon-x.svg");
}

.gameboard-cell[data-mark="o"] {
  background-image: url("./assets/icon-o.svg");
}

main[data-current="x"] .gameboard-cell[data-mark=""]:hover {
  background-image: url("./assets/icon-x-outline.svg");
}

main[data-current="o"] .gameboard-cell[data-mark=""]:hover {
  background-image: url("./assets/icon-o-outline.svg");
}
